################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphicsFinal/.vs/ComputerGraphics/v15/Browse.VC.opendb
*.suo
*.db
*.ipch
*.log
*.pdb
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
